

body > div.view > div.overlay > div {
    color: black;
    font-family: "Computer Modern Serif";
    background-color: white;
}


body > div.view > div.overlay > div h1 {
    font-size: 32pt;
    margin: 12pt 0 12pt 0;
}

body > div.view > div.overlay > div h2 {
    font-size: 24pt;
    margin: 12pt 0 12pt 0;
}

body > div.view > div.overlay > div h3 {
    font-size: 16pt;
    margin: 12pt 0 12pt 0;
}

body > div.view > div.overlay > div table,
body > div.view > div.overlay > div p,
body > div.view > div.overlay > div ol,
body > div.view > div.overlay > div ul,
body > div.view > div.overlay > div pre.block,
body > div.view > div.overlay > div h4 {
    font-size: 12pt;
    line-height: 15pt;
    margin: 12pt 0 12pt 0;
}

body > div.view > div.overlay > div ol > li,
body > div.view > div.overlay > div ul > li {
    margin: 6pt 0 6pt 0;
    margin-left: 12pt;
}

body > div.view > div.overlay > div table:first-child,
body > div.view > div.overlay > div p:first-child,
body > div.view > div.overlay > div ol:first-child,
body > div.view > div.overlay > div ul:first-child,
body > div.view > div.overlay > div ol > li:first-child,
body > div.view > div.overlay > div ul > li:first-child,
body > div.view > div.overlay > div pre.block:first-child,
body > div.view > div.overlay > div h1:first-child,
body > div.view > div.overlay > div h2:first-child,
body > div.view > div.overlay > div h3:first-child,
body > div.view > div.overlay > div h4:first-child {
    margin-top: 0;
}

body > div.view > div.overlay > div table:last-child,
body > div.view > div.overlay > div p:last-child,
body > div.view > div.overlay > div ol:last-child,
body > div.view > div.overlay > div ul:last-child,
body > div.view > div.overlay > div ol > li:last-child,
body > div.view > div.overlay > div ul > li:last-child,
body > div.view > div.overlay > div pre.block:last-child,
body > div.view > div.overlay > div h1:last-child,
body > div.view > div.overlay > div h2:last-child,
body > div.view > div.overlay > div h3:last-child,
body > div.view > div.overlay > div h4:last-child {
    margin-bottom: 0;
}

body > div.view > div.overlay > div h1,
body > div.view > div.overlay > div h2,
body > div.view > div.overlay > div h3,
body > div.view > div.overlay > div h4 {
    font-weight: bold;
}

body > div.view > div.overlay > div pre.block,
body > div.view > div.overlay > div pre.inline {
    color: white;
    background-color: black;
    font-family: "Computer Modern Typewriter";
}

body > div.view > div.overlay > div pre.block {
    padding: 6pt;
    overflow-x: scroll;
}

body > div.view > div.overlay > div pre.inline {
    display: inline-block;
    padding: 0 3pt 0 3pt;
    font-size: 12pt;
    line-height: 15pt;
}

body > div.view > div.overlay > div table {
    border-collapsed: collapse;
}

body > div.view > div.overlay > div thead {
    border: 1pt solid black;
}

body > div.view > div.overlay > div td,
body > div.view > div.overlay > div th {
    padding: 12pt;
}

body > div.view > div.overlay > div strong {
    font-weight: bold;
}

body > div.view > div.overlay > div em {
    font-style: italic;
}

body > div.view > div.overlay > div em > strong {
    font-style: italic;
    font-weight: bold;
}

body > div.view > div.overlay > div ol.footnotes {
    border-top: 1pt solid black;
    padding-top: 12pt;
}

body > div.view > div.overlay > div li.footnote {
    font-size: 9pt;
    line-height: 12pt;
    margin-left: 12pt;
}

body > div.view > div.overlay > div li.footnote p {
    margin: 0;
    font-size: 9pt;
    line-height: 12pt;
}

body > div.view > div.overlay > div a.link {
    font-size: 9pt;
    line-height: 12pt;
    margin-left: 3pt;
    vertical-align: super;
}

body > div.view > div.overlay > div span.error {
    text-decoration: underline red;
}





body > div.view > div.overlay > div {
    padding: 24pt;
}






body > div.view > div.overlay > div.README {
    font-size: 12pt;
    font-family: Arial;
}


body > div.view > div.overlay > div.README h1,
body > div.view > div.overlay > div.README h2 {
    color: #1f2328;
    margin-top: 18pt;
    margin-bottom: 12pt;
    border-bottom: 1pt solid #d0D7de;
}

body > div.view > div.overlay > div.README h1:first-child,
body > div.view > div.overlay > div.README h2:first-child {
    margin-top: 0;
}

body > div.view > div.overlay > div.README h1 {
    font-size: 24pt;
    padding-bottom: 12pt;
}

body > div.view > div.overlay > div.README h2 {
    font-size: 18pt;
    padding-bottom: 8pt;
}

body > div.view > div.overlay > div.README ul {
    padding-left: 18pt;
    margin-bottom: 12pt;
}

body > div.view > div.overlay > div.README ul > li {
    margin-top: 3pt;
}

body > div.view > div.overlay > div.README a.hyperlink {
    color: #0969da;
}





body > div.view > div.overlay > div.cover {
    color: #e9f3e9;
    padding-top: 128pt;
    background-color: #1a5f1a;
}


body > div.view > div.overlay > div.cover h1,
body > div.view > div.overlay > div.cover h2 {
    margin: auto;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

body > div.view > div.overlay > div.cover h1 {
    width: 400pt;
    font-size: 40pt;
    line-height: 1.5;
}

body > div.view > div.overlay > div.cover h2 {
    font-size: 24pt;
    margin-top: 64pt;
}







body > div.view > div.overlay > div.contents ul.contents {
    margin: 0;
    list-style-type: none;
}

body > div.view > div.overlay > div.contents ul.contents ul.contents {
    margin-left: 12pt;
}

body > div.view > div.overlay > div.contents li.contents {
    margin: 12pt;
    margin-left: 0;
}

body > div.view > div.overlay > div.contents a.contents {
    font-size: 16pt;
    text-decoration: none;
}





body > div.view > div.overlay > div.dedication {
    padding: 0;
}


body > div.view > div.overlay > div.dedication p {
    width: fit-content;
    font-size: 18pt;
    padding-top: 160pt;
    margin-left: auto;
    margin-right: auto;
}





body > div.view > div.overlay > div.half-title {
    padding: 0;
    padding-top: 160pt;
}


body > div.view > div.overlay > div.half-title h1,
body > div.view > div.overlay > div.half-title h2 {
    text-align: left;
    font-weight: normal;
    margin-left: 64pt;
    text-transform: uppercase;
}

body > div.view > div.overlay > div.half-title h1 {
    width: 300pt;
    font-size: 30pt;
    line-height: 1.25;
}

body > div.view > div.overlay > div.half-title h2 {
    font-size: 18pt;
    margin-top: 48pt;
}
